@import "bootstrap/bootstrap";
a {
  text-decoration: none;
}
@media (max-width: 769px) {
  .nav-list {
    display: none;
  }
}
.banner {
  background: url(../images/index1.jpg);
  background-size: cover;
}
.h-banner {
  height: calc(100vh - 56px);
}
.shop-now {
  width: 65%;
}
.item-img {
  width: 50%;
  height: 555px;
}
.last-item {
  width: 65%;
  margin-bottom: 36px;
}
.last-item-img {
  width: 50%;
  height: 1080px;
}
.product-img {
  width: 350px;
  height: 540px;
  margin-bottom: 8px;
}
.bottle img {
  width: 730px;
  height: 520px;
}
.subscribe {
  background: url(../images/index10.jpg);
  background-size: cover;
  background-position: center center;
  height: 600px;
}
.foot p {
  font-size: 14px;
}
